@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:500,700');
* { margin:0; padding:0; box-sizing:border-box; }
body {
text-align: left;
background-color: #e8e9ea;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
color: #000000;
font-size: 10px
}

header {
background-color: #27d1b7;
padding: 2em;
position: fixed;
width: 27%;
height: 100%;
}

#headline {
padding-top: 23em;
width: 200px;
}

section {float:right;width: 73%;padding: 1em 0;}

h1 {
font-family: 'Oswald', sans-serif;
font-weight: 500;
font-style: normal;
font-size: 6em;
text-transform: uppercase;
line-height: 1em;
}

h2 {
font-size: 1.6em;
text-transform: uppercase;
line-height: 2.5em;
}

h3 {
font-size: 1.6em;
line-height: 2.5em;
}

a {
line-height: 3em;
text-decoration: none;
color: #000000;
}

a:hover {
color: #e8e9ea
}

footer {
padding: 4em;
float: none;
margin: auto;
clear: both;
width: 73%;
text-align: center;

}

.grid-item, .grid-sizer {width: 33.33%;padding: .5em;}
.grid-item img {
	width: 100%;
}

@media only screen and (max-width: 1060px) {
	body {
	font-size: 10px;
}
	h1 {
	font-size: 4em;
	}

	h2, h3 {
	line-height: 2em;
}
	
	#headline {
	padding-top: 32em;
}
}

@media only screen and (max-width: 840px) {
	header {
	background-color: #27d1b7;
	padding: 2em;
	width: 100%;
	height: 200px;
	position: initial;
}
#section {
	clear: both; 
	float: none; 
	width: 100%; 
	padding: 3em 0;
	}
	
	#headline {
	padding-top: 2em;
	width: 100%;	
}
 h3 {
	line-height: 1em;
}

.grid-item, .grid-sizer {width: 50%;padding: .5em;}
.grid-item img {
	width: 100%;
}
}
}
