@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:500,700');
* { margin:0; padding:0; box-sizing:border-box; }
body {
text-align: left;
background-color: #e8e9ea;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
color: #000000;
}

header {
background-color: #27d1b7;
padding: 20px;
position: fixed;
width: 27%;
height: 100%;
}

#headline {
padding-top: 14em;
}

section {float:right;width: 73%;padding: 1em 0;}

h1 {
font-family: 'Oswald', sans-serif;
font-weight: 500;
font-style: normal;
font-size: 60px;
text-transform: uppercase;
line-height: 1em;
}

h2 {
font-size: 1em;
text-transform: uppercase;
line-height: 2.5em;
}

a {
line-height: 3em;
text-decoration: none;
color: #000000;
}

a:hover {
color: #e8e9ea
}

footer {
padding: 4em;
float: right;
margin: auto;
clear: both;
width: 73%;

}

.grid-item, .grid-sizer {width: 33.33%;padding: .5em;}
.grid-item img {
	width:100%;
}
