body {
  text-align: left;
  background-color: #e8e9ea;
}


header {
	background-color: #27d1b7;
	padding: 20px;
	float:left;
	width: 27%;
	height: 1000px;
}
/*nav {
  font-size: 1em;
  line-height: 0.5em;
  font-style: italic;
  background-color: #27d1b7;
  padding: 20px;
  float:left;
  clear: both;
  width: 27%;
  height: 400px;
}*/
#headline {
	padding-top: 250px;
}
#nav {

}

article {
display: inline-block;
margin: auto;
margin: 15px;
float: right;
}

section {

	float:right;
}
h1 {
	font-family: Oswald;
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
	color: #000000;
	text-transform: uppercase;
	line-height: 1em;
}

h3 {
	font-size: 1em;
	text-transform: uppercase;
	line-height: 2.5em;

}
h3,p {
	font-family: Open Sans;
	font-weight: 100;
	color: #000000;
}
a {
	line-height: 3em;
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #e8e9ea
}
.media-change-cbs {
	clear: both;
	float: right;
}


footer {
	
	float:right;
	clear: both;
}

