/*@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);*/

body {
  text-align: left;
  background-color: #27d1b7;
}
h1 {
	 /*font-family: 'Abril Fatface';*/
	font-family: "lust";
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
	  color: #f9edf5;
	  line-height: 0.3em;
}
h3 {
	font-size: 1em;
	text-transform: uppercase;
	line-height: 1.5em;
}
h3,p {
	font-family: Open Sans;
	font-weight: 300;
	color: #f9edf5;
}
p {
  font-size: 1em;
  line-height: 0.5em;
  font-style: italic;

}
